<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8"/>
  <title>Hangman</title>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"/>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css"/>
  <link rel="stylesheet" href="css/skeleton.css"/>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<div class="container">
<h4>Hangman the Game</h4>
</div>


<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 0%">
        <img id="img" src="../static/images/hangmanHead.png" th:src="@{/images/hangmanHead.png}"/>
        <h4 th:text="${theme}">Theme Template</h4>
        <table>
          <div class="underscore" th:each="i : ${char}">
              <br/>
              <p style="display:none" class="guess" th:text="${i}"></p>
              <p th:text="__"></p>
          </div>
        </table>
        <input id="testInput" type="text"> Enter a Letter or the Word</input>
      	<h4 id="show"></h4>
        <button style="display:inline-block" id="mainButton">Enter Letter</button>
        <button style="display:inline-block" id="guessWordButton">Guess Word</button>
        <button style="display:none" id="anotherWordButton">Try Again?</button>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<script type="text/javascript" th:inline="javascript">
    //<![CDATA[
    $(document).ready(function () {
        var miss = 0;
        //Function for mainButton
        document.getElementById('mainButton').onclick = function () {

            var s = document.getElementById("testInput").value;
            var panels = document.getElementsByClassName('guess');
            //convert nodelist to array
            var array = [].slice.call(panels);
            var charExist = false;
            var win = true;
            //compare input character and array and display character
            for (var x = 0; x < array.length; x++) {
                if(array[x].innerText.toLowerCase() === s.toLowerCase()){
                    alert("that char exists");
                    charExist = true;
                    array[x].style.display = "block";
                }
            }
            //Win condition is met if all array items are shown
            for(var x = 0; x < array.length; x++){
                console.log(array[x].style.display);
                if(array[x].style.display != "block"){
                    win = false;
                }
            }
            if(win === true){
                alert("You win");
                document.getElementById('anotherWordButton').style.display = "block";
            }else
            if(charExist === false && win === false){
                alert("That character does not exist");
                miss++;
                console.log(miss);
            }
            if(miss === 1){
                document.getElementById('img').src = /*[[@{/images/hangmanTorso.png}]]*/ 'name';
            }else
            if(miss === 2){
                document.getElementById('img').src = /*[[@{/images/hangmanHands3.png}]]*/ 'name';
            }else
            if(miss === 3){
                document.getElementById('img').src = /*[[@{/images/hangmanFeet4.png}]]*/ 'name';
            }else
            if(miss === 4){
                document.getElementById('img').src = /*[[@{/images/hangmanFace5.png}]]*/ 'name';
            }else
            if(miss === 5){
                document.getElementById('img').src = /*[[@{/images/hangmanLose6.png}]]*/ 'name';
                alert("You Lose");
                document.getElementById('mainButton').style.display= "none";
                document.getElementById('guessWordButton').style.display= "none";
                document.getElementById('anotherWordButton').style.display = "block";
            }
        }
        document.getElementById('guessWordButton').onclick = function() {
            var win = true;
            var s = document.getElementById("testInput").value;
            //convert the input word into a array of characters
            var inputArray = s.split("");
            var panels = document.getElementsByClassName('guess');
            var array = [].slice.call(panels);
            //check each inputArray item with each answer character
            for (var x = 0; x < array.length; x++) {
                if (array[x].innerText.toLowerCase() !== inputArray[x].toLowerCase()) {
                    win = false;
                }
            }
            //check win condition
            if (win && inputArray.length <= array.length ) {
                alert("You guessed the word, you win!");
                for(var x = 0; x < array.length; x++){
                    array[x].style.display = "block";
                }
                document.getElementById('anotherWordButton').style.display = "block";
            }else{
                alert("You guessed the wrong word");
                miss++;
            }
            if(miss === 1){
                document.getElementById('img').src = /*[[@{/images/hangmanTorso.png}]]*/ 'name';
            }else
            if(miss === 2){
                document.getElementById('img').src = /*[[@{/images/hangmanHands3.png}]]*/ 'name';
            }else
            if(miss === 3){
                document.getElementById('img').src = /*[[@{/images/hangmanFeet4.png}]]*/ 'name';
            }else
            if(miss === 4){
                document.getElementById('img').src = /*[[@{/images/hangmanFace5.png}]]*/ 'name';
            }else
            if(miss === 5){
                document.getElementById('img').src = /*[[@{/images/hangmanLose6.png}]]*/ 'name';
                alert("You Lose");
                document.getElementById('mainButton').style.display= "none";
                document.getElementById('guessWordButton').style.display= "none";
                document.getElementById('anotherWordButton').style.display = "block";
            }

        }
        //try again button
        document.getElementById('anotherWordButton').onclick = function() {
            window.location.reload();
        }


    })
//]]>
</script>

</html>
